<%= form_with(model: exhibition, local: true) do |form| %>
  <% if exhibition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exhibition.errors.count, "error") %> prohibited this exhibition from being saved:</h2>

      <ul>
        <% exhibition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cover %>
    <%= form.file_field :cover %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about %>
  </div>

  <div class="field">
    <%= form.label :cover %>
    <%= form.text_field :cover %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
