<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exhibition.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @exhibition.about %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @exhibition.cover %>
</p>

<%= link_to 'Edit', edit_exhibition_path(@exhibition) %> |
<%= link_to 'Back', exhibitions_path %>
