<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artwork.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @artwork.about %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @artwork.cover %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
