 <div class="landing">
  <div class="main">
    <h1>WHAT TIME ARE YOU?</h1>
    <h2>11.09 — 06.10</h2>
    <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным. Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
    <div class="button">
      <a href="">Подробнее</a>
    </div>
  </div>
  <div class="firstimage">
    <%= image_tag asset_path("main.png")%>
  </div>

  <h3>ВЫСТАВКИ</h3>

  <div class="cards">
    <div class="grid">
      <!-- 1 -->
      <div class="card">
        <div class="images">
          <%= image_tag asset_path("cover2.jpg")%>
        </div>
        <h2>Новые лозунги</h2>
        <h4>11.09 — 06.10</h4>
        <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
      </div>
      <!-- 2 -->
      <div class="card">
        <div class="images">
            <%= image_tag asset_path("cover3.jpg")%>
        </div>
        <h2>Твердые вещи</h2>
        <h4>11.09 — 06.10</h4>
        <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
      </div>
      <!-- 3 -->
      <div class="card">
        <div class="images">
            <%= image_tag asset_path("cover5.jpg")%>
        </div>
        <h2>Настоящее прошлое</h2>
        <h4>11.09 — 06.10</h4>
        <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
      </div>
      <!-- 4 -->
      <div class="card">
        <div class="images">
            <%= image_tag asset_path("cover4.jpg")%>
        </div>
        <h2>WHAT TIME ARE YOU?</h2>
        <h4>11.09 — 06.10</h4>
        <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным. Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
      </div>
      <!-- 5 -->
      <div class="card">
        <div class="images">
            <%= image_tag asset_path("cover1.jpg")%>
        </div>
        <h2>Новые лозунги</h2>
        <h4>11.09 — 06.10</h4>
        <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
      </div>
      <div class="button">
        <a href="">Все выставки</a>
      </div>
    </div>
  </div>



  <div class="news">
    <h2>Портфолио-ревю для студентов всех профилей </h2>
    <h4>11 сентября — 6 октября </h4>
    <p>По итогам портфолио-ревю будут отобраны работы для участия в выставке в галерее и зимнего аукциона SAMPLE х HSE</p>
    <div class="button">
      <a href="">Подробнее</a>
    </div>
  </div>

  <h3>СОБЫТИЯ</h3>

  <div class="grid">
    <!-- 1 -->
    <div class="card">
      <div class="images">
        <%= image_tag asset_path("cover2.jpg")%>
      </div>
      <h2>Новые лозунги</h2>
      <h4>11.09 — 06.10</h4>
      <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
    </div>
    <!-- 2 -->
    <div class="card">
      <div class="images">
          <%= image_tag asset_path("cover3.jpg")%>
      </div>
      <h2>Твердые вещи</h2>
      <h4>11.09 — 06.10</h4>
      <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
    </div>
    <!-- 3 -->
    <div class="card">
      <div class="images">
          <%= image_tag asset_path("cover5.jpg")%>
      </div>
      <h2>Настоящее прошлое</h2>
      <h4>11.09 — 06.10</h4>
      <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
    </div>
    <!-- 4 -->
    <div class="bigcard">
      <div class="bigimages">
          <%= image_tag asset_path("cover4.jpg")%>
      </div>
      <h2>WHAT TIME ARE YOU?</h2>
      <h4>11.09 — 06.10</h4>
      <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным. Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
    </div>
    <!-- 5 -->
    <div class="lastcard">
      <div class="lastimages">
          <%= image_tag asset_path("cover1.jpg")%>
      </div>
      <h2>Новые лозунги</h2>
      <h4>11.09 — 06.10</h4>
      <p>Кураторы пригласили студентов поразмышлять о том, что в эпоху релятивизма и бесконечных перемен можно считать постоянным и надежным</p>
    </div>
    <div class="button">
      <a href="">Все события</a>
    </div>
  </div>

  <div class="news">
    <h2>Программа «Современное искусство» в НИУ ВШЭ</h2>
    <p>Для подготовки художникови кураторов, фотографов и кинематографистов, теоретиков и практиков во всех областях современного искусства</p>
    <div class="button">
      <a href="">Подробнее</a>
    </div>
  </div>

  <div class="guide">
    <h2>HSE ART GALLERY GUIDE</h2>
    <p>Приложение позволяет узнать больше о конкретной выставке и о каждом экспонате, сканируя QR-коды</p>
    <div class="button">
      <a href="">Скачать</a>
    </div>
  </div>

  <!-- <div class="email">
    <h2>Хотите быть в курсе всего?</h2>
    <p>Подпишитесь на нашу рассылку. Мы обещаем писать редко и по делу</p>
  </div>

  <div class="footer">

  </div> -->

</div>
