<div class="menubar">
  <div class="logo">

  </div>

  <div class="menu">
    <%= link_to "ГЛАВНАЯ", root_path %>
    <%= link_to "ВЫСТАВКИ", exhibitions_path %>
    <%= link_to "СОБЫТИЯ", root_path %>
    <%= link_to "О ГАЛЕРЕЕ", root_path %>
    <%= link_to "OPEN CALL", root_path %>
  </div>

</div>
